<div class="page-header">
  <h1>Listing spots</h1>
</div>

<div class="table-responsive">
  <table class="hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Address</th>
            <th>Time limit</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Description</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @spots) do |spot| %>
            <td><%= spot.title %></td>
            <td><%= spot.address %></td>
            <td><%= spot.time_limit %></td>
            <td><%= spot.latitude %></td>
            <td><%= spot.longitude %></td>
            <td><%= spot.description %></td>
            <td><%= link_to 'Show', spot %></td>
        <td><%= link_to 'Edit', edit_spot_path(spot) %></td>
        <td><%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_spot_path, class: 'button center' do %>
  <span class="glyphicon glyphicon-plus"></span>
  New Spot
<% end %>
