<div class ="my-spots">
    <div class="row align-left medium-unstack">
        <div class="small-12 medium-6 large-4 columns">
          <h1>Your Spots</h1>
          <%= link_to new_spot_path, class: 'expanded button' do %>
            Add a New Spot <i class="fa fa-car" aria-hidden="true"></i>
          <% end %>
          <div class="spots-content">
            <table class="hover">
              <tbody>
                <%= content_tag_for(:tr, @spots) do |spot| %>
                      <td><%= link_to spot.title, spot %></td>
                      <!-- <td><%= spot.address %></td> -->
                      <td><%= spot.time_limit %></td>
                      <td><%= spot.description %></td>
                  <td><%= link_to spot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button delete-button' do %>
                    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
                    <% end %></td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>


        <div class="columns flex-video">
          <div id="map" style='max-width: 900px; height: 700px;'></div>

          <script type="text/javascript">
            handler = Gmaps.build('Google');
            handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
              markers = handler.addMarkers(<%=raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            });
          </script>
        </div>
      </div>
</div>
