
<div class="row align-left medium-unstack">
  <div class ="small-12 medium-6 large-4 column">
    <% provide(:title, 'City') %>
    <div class="page-header text-center">
      <h1>City Spots</h1>
    </div>
    <%= form_tag(city_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Spots" %>
      <%= submit_tag "Search" %>
      <%= link_to "Clear", city_path %>
    <% end %>

    <% if @spots.present? %>
      <% @spots %>
    <% else %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>

    <div class="table spots-content">
      <table class="hover">
        <thead>
          <tr>
                <th>Title</th>
                <th>Address</th>
                <th>Time limit</th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @spots) do |spot| %>
                <td><%= link_to spot.title, spot %></td>
                <td><%= spot.address %></td>
                <td><%= spot.time_limit %></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="columns flex-video">
      <div id="map" style='max-width: 900px; height: 700px;'></div>

    <script type="text/javascript" defer>
      $(function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          // handler.map.centerOn({ lat: 33.7722, lng: -84.3661 });
        });
      });
    </script>
    </div>

</div>
