    <% if user_signed_in? == false %>
      <div id="messageBar">
      <p>Parking can be a big deal! Help add 'Spots' and comments to the global map below to find your FreeSpot! <br><%= link_to 'Sign Up', new_user_session_path %> to join us.</p>
      </div>
    <% end %>


<div class="row align-left medium-unstack">
  <div class ="small-12 medium-6 large-4 column">
    <% provide(:title, 'FreeSpot | City') %>

    <div class="page-header text-center">
      <h1>City Spots</h1>
    </div>
    <%= form_tag(city_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Spots" %>
      <%= submit_tag "Search", class:'button' %>
      <%= link_to "Clear", city_path, class: 'button alert' %>
    <% end %>

    <% if @spots.present? %>
      <% @spots %>
    <% else %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>

    <div class="table spots-content">
      <table class="hover">
        <thead>
          <tr>
                <th></th>
                <th>Title</th>
                <th>Address</th>
                <th>Time limit</th>
                <th></th>
                <th></th>
          </tr>
        </thead>

        <tbody>
          <%= content_tag_for(:tr, @spots) do |spot| %>
                <td><i class="fa fa-map-pin" aria-hidden="true"></i></td>
                <td><%= link_to spot.title, spot %></td>
                <td><%= spot.address %></td>
                <td><%= spot.time_limit %></td>
                <td class="<%= spot.latitude %> lat"></td>
                <td class="<%= spot.longitude %> long"></td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="columns flex-video">
      <div id="map" style='max-width: 1000px; height: 740px;'></div>

    <script type="text/javascript" defer>
      $(function() {
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: { }, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          handler.map.serviceObject.setZoom(12);
        });

        $(".spots-content").on("click", "tr", function() {
        var latitude = $(this).children(".lat").attr("class").split(' ')[0];
        var longitude = $(this).children(".long").attr("class").split(' ')[0];
        console.log($(this).children(".lat").attr("class").split(' ')[0]);
        var laLatLng = new google.maps.LatLng(latitude, longitude);
        handler.map.serviceObject.panTo(laLatLng);
        handler.map.serviceObject.setZoom(18);
        });
      });
    </script>
    </div>
  </div>
