<%= div_for(comment) do %>
  <p>
    <strong>Posted by <%= comment.user.username %></strong></br>
    <em><%= time_ago_in_words(comment.created_at) %> ago</em></br>
    <%= comment.body %>
  </p>
  <p>
    <%= button_to 'Delete', [comment.spot, comment],
                :method => :delete,
                data: { confirm: 'Are you sure?' }
                %>
  </p>
<% end %>
