<div class="page-header">
  <%= link_to new_todo_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Todo
  <% end %>
  <h1>Listing todos</h1>
</div>

<div class="table-responsive todos">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Completed</th>
            <th></th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @todos) do |todo| %>
            <td><%= todo.title %></td>
            <!-- <td><%= todo.completed %></td> -->
            <td>
            <%= link_to(toggle_path(todo)) do %>
              <% if todo.completed %>
                <span class="glyphicon glyphicon-ok"></span>
              <% else %>
                <span class="glyphicon glyphicon-unchecked"></span>
              <% end %>
             <% end %>
            </td>
            <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
