  <% if signed_in? %>
    <li><%= link_to current_user.username, edit_user_registration_path %></li>
    <li><%= link_to 'My Spots', spots_path %></li>
    <li><%= link_to 'City', '/city' %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
  <% else %>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
  <% end %>
  <!-- <li><%= link_to 'About', '/about' %></li> -->
